<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo01.demo.mappers.OrderMapper">
    <!--sql-->
    <!--根据openid 查询用户所有订单-->
    <select id="findAllOrderByID" resultType="int">
        select orderid from orderinfo where openid=#{openid}
    </select>

    <select id="findAllMiniOrder" resultType="MiniOrderEntry">
        select a.orderId,a.openid,a.total,a.time,b.id,b.number,b.price,c.image
        from OrderInfo a, comselectinfo b, milktea c
        where openid=#{openid} and a.orderId = b.orderId and b.id = c.id
    </select>

    <select id="findOneOrder" resultType="Order">
        select orderId,status,time,address,phonenum,name  from orderinfo where orderId=#{orderId}
    </select>
    <!--怎么根据日期查询！！！！！！！-->
    <!--根据用户名 查询用户当日订单-->
    <select id="findTodayMiniOrder" resultType="MiniOrderEntry">
        select a.orderId,a.openid,a.total,a.time,b.id,b.number,b.price,c.image
        from OrderInfo a, comselectinfo b, milktea c
        where openid=#{openid} and a.orderId = b.orderId and b.id = c.id and to_days(time) = to_days(now());
    </select>

    <!--查询最后一个订单的订单编号-->
    <select id="findLastOrderId" resultType="int">
        select   orderId   from   OrderInfo   order   by   orderId   desc   limit   1
    </select>


    <!--增加-->
    <!--增删改都没有resultType-->
    <!---->
    <insert id="addOneSelectInfo" parameterType="SelectInfo">
        insert into comselectinfo value(#{orderId},#{id},#{number},#{description},#{price})
    </insert>

    <insert id="addOneOrderInfo" parameterType="Order">
        insert into OrderInfo value(#{orderId},#{openid},#{time},#{total},#{status},#{address},#{phonenum},#{name})
    </insert>

    <select id="findSelectInfo" resultType="SelectInfo">
        select a.orderId,a.id,a.number,a.description,a.price,b.image,b.name
        from comselectinfo a, milktea b
        where orderid=#{orderid} and a.id = b.id
    </select>

</mapper>