<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo01.demo.mappers.OrderMapper">
    <!--sql-->
    <!--根据openid 查询用户所有订单-->
    <select id="findAllOrderByID" resultType="Integer">
        select orderid from orderinfo where openid=#{openid}
    </select>

    <select id="findAllOrderId" resultType="Integer">
        select orderid from orderinfo
    </select>

    <select id="findAllMiniOrder" resultType="com.demo01.demo.entity.MiniOrderEntry">
        select a.orderId,a.openid,a.total,a.time,b.id,b.number,b.price,c.image
        from OrderInfo a, comselectinfo b, milktea c
        where openid=#{openid} and a.orderId = b.orderId and b.id = c.id
    </select>

    <select id="findOneOrder" resultType="com.demo01.demo.entity.Order">
        select orderId,status,time,address,phonenum,name,openid  from orderinfo where orderId=#{orderId}
    </select>
    <!--怎么根据日期查询！！！！！！！-->
    <!--根据用户名 查询用户当日订单-->
    <select id="findTodayMiniOrder" resultType="com.demo01.demo.entity.MiniOrderEntry">
        select a.orderId,a.openid,a.total,a.time,b.id,b.number,b.price,c.image
        from OrderInfo a, comselectinfo b, milktea c
        where openid=#{openid} and a.orderId = b.orderId and b.id = c.id and to_days(time) = to_days(now());
    </select>
    <select id="getTodayOrderNum" resultType="Integer">
        select count(*)
        from orderinfo
        where date_format(Time,'%Y-%m')=date_format(now(),'%Y-%m')
    </select>
    <!--查询最后一个订单的订单编号-->
    <select id="findLastOrderId" resultType="int">
        select max(orderid) from orderinfo
    </select>


    <!--增加-->
    <!--增删改都没有resultType-->
    <!---->
    <insert id="addOneSelectInfo" parameterType="com.demo01.demo.entity.SelectInfo">
        insert into comselectinfo value(#{orderId},#{id},#{number},#{description},#{price})
    </insert>

    <insert id="addOneOrderInfo" parameterType="com.demo01.demo.entity.Order">
        insert into OrderInfo value(null,#{openid},#{time},#{total},#{status},#{address},#{phonenum},#{name})
    </insert>

    <select id="findSelectInfo" resultType="com.demo01.demo.entity.SelectInfo">
        select a.orderId,a.id,a.number,a.description,a.price,b.image,b.name
        from comselectinfo a, milktea b
        where orderid=#{orderid} and a.id = b.id
    </select>
    <select id="getOrderInfoAnyTime" resultType="com.demo01.demo.entity.OrderInfoChart">

        SELECT DATE_FORMAT( Time, '%Y-%m-%d' ) time, count(*) orderNum
        FROM orderinfo
        where DATE_SUB(CURDATE(), INTERVAL #{days} DAY) &lt;= date(Time)
        group by DATE_FORMAT( Time, '%Y-%m-%d' )
    </select>


</mapper>