# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\StudyTool\grade2\SpringBoot\projects\Wechat-miniprogram-Milktea-Shop\小程序\milktea\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
